<a href="https://colab.research.google.com/github/ThousandAI/pycs4001/blob/main/class09/kaggle_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train_data = pd.read_csv("https://raw.githubusercontent.com/ThousandAI/pycs4001/main/class09/train.csv")
test_data = pd.read_csv("https://raw.githubusercontent.com/ThousandAI/pycs4001/main/class09/test.csv")
test_ids = test_data["PassengerId"]

In [3]:
train_data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [4]:
def clean(data):
    data = data.drop(["PassengerId", "Name", "Ticket", "Cabin"], axis=1)

    cols = ["SibSp", "Parch", "Fare", "Age"]
    for col in cols:
        data[col].fillna(data[col].mean(), inplace=True)

    data.Embarked.fillna("U", inplace=True)

    return data

In [5]:
train_data = clean(train_data)
test_data = clean(test_data)

In [6]:
train_data.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [7]:
X = train_data.iloc[:, 1:]
Y = train_data.iloc[:, 0]

In [8]:
print(f"train data shape: {X.shape}")
print(f"test data shape: {test_data.shape}")

train data shape: (891, 7)
test data shape: (418, 7)

In [9]:
X

     Pclass     Sex        Age  SibSp  Parch     Fare Embarked
0         3    male  22.000000      1      0   7.2500        S
1         1  female  38.000000      1      0  71.2833        C
2         3  female  26.000000      0      0   7.9250        S
3         1  female  35.000000      1      0  53.1000        S
4         3    male  35.000000      0      0   8.0500        S
..      ...     ...        ...    ...    ...      ...      ...
886       2    male  27.000000      0      0  13.0000        S
887       1  female  19.000000      0      0  30.0000        S
888       3  female  29.699118      1      2  23.4500        S
889       1    male  26.000000      0      0  30.0000        C
890       3    male  32.000000      0      0   7.7500        Q

[891 rows x 7 columns]

In [10]:
#concat_data = pd.concat([X, test_data], axis=0)
dummy_x = pd.get_dummies(X)

# dummy_train_data = dummy_data.iloc[:891, :]
# dummy_test_data = dummy_data.iloc[891:, :]

In [11]:
print(dummy_x.shape)

(891, 11)

In [12]:
dummy_x

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_U
0,3,22.000000,1,0,7.2500,0,1,0,0,1,0
1,1,38.000000,1,0,71.2833,1,0,1,0,0,0
2,3,26.000000,0,0,7.9250,1,0,0,0,1,0
3,1,35.000000,1,0,53.1000,1,0,0,0,1,0
4,3,35.000000,0,0,8.0500,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
886,2,27.000000,0,0,13.0000,0,1,0,0,1,0
887,1,19.000000,0,0,30.0000,1,0,0,0,1,0
888,3,29.699118,1,2,23.4500,1,0,0,0,1,0
889,1,26.000000,0,0,30.0000,0,1,1,0,0,0
890,3,32.000000,0,0,7.7500,0,1,0,1,0,0

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
sc_x = scaler.fit_transform(dummy_x)

In [14]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [16]:
tree = DecisionTreeClassifier(criterion="entropy", max_depth = 10, random_state=10)
scores = cross_val_score(tree, sc_x, Y, cv=5)
print(scores.mean())

0.8013307388111229

In [17]:
depth = []
for i in range(2,100,1):
  tree = DecisionTreeClassifier(criterion="entropy", max_depth = i, random_state=10)
  scores = cross_val_score(tree, sc_x, Y, cv=5)
  depth.append(scores.mean())

In [18]:
depth

[0.773316176009039,
 0.8148076078086749,
 0.8036407005209968,
 0.8114493754315486,
 0.803665808800452,
 0.8114430983616847,
 0.8103571652752495,
 0.8092210156299039,
 0.8013307388111229,
 0.7923921913250895,
 0.7889837423890528,
 0.7845207457158998,
 0.777779172682192,
 0.7789404306069927,
 0.7800451949030193,
 0.7665871571150586,
 0.7665934341849224,
 0.7666122653945139,
 0.7677170296905403,
 0.7665934341849224,
 0.769945389492185,
 0.7699516665620488,
 0.7688343481262947,
 0.7721925805034211,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031,
 0.7710689849978031]

In [19]:
final_depth = np.argmax(np.array(depth)) + 2

In [20]:
final_depth

3

In [21]:
final_tree = DecisionTreeClassifier(criterion="entropy", max_depth = final_depth, random_state=10)
final_tree.fit(sc_x, Y)

DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=10)

In [ ]:
sc_test_data_x = scaler.transform(dummy_test_data)

In [ ]:
submission = final_tree.predict(sc_test_data_x)

In [ ]:
print(submission)

[0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 0 0 0 1 1 0 1 0 1 0 1 0 0 0 1 0 0 0 0
 0 0 0 0 1 0 1 1 0 1 0 1 1 0 0 1 1 1 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 0 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 0 1 1 1 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 1 0 1 0 0 1 0 0 1 0 1 1 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 0 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 1 0 1 1 0 1 0 0 1 1 1
 0 1 0 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 1 0
 0 1 1 1 1 0 0 1 0 0 0]

In [ ]:
submission_data = pd.DataFrame({"PassengerId": test_ids.values, "Survived": submission })

In [ ]:
submission_data.to_csv("submission.csv", index=False)