<a href="https://colab.research.google.com/github/ThousandAI/pycs4001/blob/main/class01/class01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 變數 Variable

In [1]:
x = 3 # assign 賦值
y = 2.5
z = "Hello Python"
a = True
b = False
# 原生型態 Primitive type
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

# Pass by Reference

In [2]:
x = 3
y = x
print(id(x), id(y))
x = x + 1
print(id(x), id(y))
z = 4
print(id(z))

11256128 11256128
11256160 11256128
11256160

# print

In [3]:
print("Hello") # 自動換行
print("Python")
print("Hello", end=" ")
print("Python")
print("Hello", end=",")
print("Python")
print("Hello, Python.\nI'm Thousand.")

Hello
Python
Hello Python
Hello,Python
Hello, Python.
I'm Thousand.

In [4]:
# 輸出格式 (format)
guest = "Allie"
host = "Thousand"
print("Hello, " + guest + ". My name is " + host + ".")
print(f"Hello, {guest}. My name is {host}.")
print("Hello, {}. My name is {}.".format(guest, host))
pi = 3.14159265
print(f"Pi is {pi:.3f}")
print("Pi is {:.3f}".format(pi))

Hello, Allie. My name is Thousand.
Hello, Allie. My name is Thousand.
Hello, Allie. My name is Thousand.
Pi is 3.142
Pi is 3.142

In [5]:
# 資料型態不同導致運算結果不同
a = "123"
b = "456"
c = 123
d = 456
print(a+b)
print(c+d)

123456
579

# 輸入

In [6]:
number = input("")
print(f"Your number is {number}")
print(type(number)) # string
number = int(number)
print(type(number))

327
Your number is 327
<class 'str'>
<class 'int'>

In [7]:
number = int(input("Enter a number: "))
print(f"Your number is {number}")
print(type(number))

Enter a number: 268
Your number is 268
<class 'int'>

# try except

In [8]:
try:
    number = int(input("Enter a number: "))
    print(f"Your number is: {number}")
except ValueError:
    print("輸入格式錯誤，請輸入數字")

Enter a number: qfjis112
輸入格式錯誤，請輸入數字

# operator

In [9]:
x = 5
y = 3
print(f"x+y={x+y}")
print(f"x-y={x-y}")
print(f"x*y={x*y}")
print(f"x/y={x/y}") # 小數點除法
print(f"x/y={x//y}") # 整數除法
print(f"x*x*x={x**3}")
print(f"x%y={x%y}")

x+y=8
x-y=2
x*y=15
x/y=1.6666666666666667
x/y=1
x*x*x=125
x%y=2

In [11]:
# 餘數應用
num = int(input("Enter a number: "))
print(f"百位數字: {num//100}")
print(f"十位數字: {(num//10)%10}")
print(f"個位數字: {num%10}")

Enter a number: 368
百位數字: 3
十位數字: 6
個位數字: 8

In [12]:
# 交換數值
x = int(input("x: "))
y = int(input("y: "))
#tem = x
# x = y
# y = tem
x,y = y,x
print(f"x: {x}, y:{y}")

x: 3
y: 5
x: 5, y:3

# 控制流程

In [13]:
num = int(input())
if num > 200:
    print(f"{num} > 200")
else:
    print(f"{num} <= 200")

170
170 <= 200

In [14]:
# 非 0 是 True，0 是 False
if 0:
    print("This is Ture")
else:
    print("This is False")

This is False

In [15]:
# if/elif/else
num = int(input())
if num > 200:
    print(f"{num} > 200")
elif 100 <= num <= 200:
    print(f"100 <= {num} <= 200")
else:
    print(f"{num} < 100")

170
100 <= 170 <= 200

In [16]:
# if/elif/else vs. 多個 if
num = 3
if num >= 2:
    print(f"{num} >= 2")
elif num >= 1:
    print(f"{num} >= 1")
else:
    print(f"{num} >= 0")

  
if num >= 2:
    print(f"{num} >= 2")
if num >= 1:
    print(f"{num} >= 1")
if num >= 0:
    print(f"{num} >= 2")

3 >= 2
3 >= 2
3 >= 1
3 >= 2

In [17]:
# if/else 解答
x = int(input())
y = int(input())
z = int(input())
if x > y:
    ans = x
else:
    ans = y
if z > ans:
    ans = z
print(f"最大值: {ans}")

3
5
2
最大值: 5

In [19]:
# Nested if
n = int(input("Enter a number: "))
if n % 2 == 1:
    print("Weird")
elif n % 2 == 0:
    if 2 <= n <= 5:
        print("Not Weird")
    elif 6 <= n <= 20:
        print("Weird")
    elif n > 20:
        print("Not Weird")

Enter a number: 6
Weird

In [20]:
# while 迴圈
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9