<a href="https://colab.research.google.com/github/ThousandAI/pycs4001/blob/main/class03/class03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **雙層串列 & 雙層迴圈**

In [1]:
# 雙層串列
matrix = [[32, 57, 89], [59,20,66], [66,78,82], [32,89,100], [70,100,30]]
print(matrix[0])
print(matrix[2][1])

[32, 57, 89]
78

In [2]:
# 雙層迴圈
for i in range(5):
    print(f"{i}: ",end="")
    for j in range(3):
        print(f"{j}",end=" ")
    print()

0: 0 1 2
1: 0 1 2
2: 0 1 2
3: 0 1 2
4: 0 1 2

In [3]:
# 雙層迴圈 (解答1)
n = int(input())
for i in range(n):
    for j in range(i+1):
        print("*",end="")
    print()

5
*
**
***
****
*****

In [4]:
# 雙層迴圈 (解答2)
n = int(input())
for i in range(n):
    for j in range(n-i):
        print("*",end="")
    print()

5
*****
****
***
**
*

In [5]:
# 雙層迴圈 (解答3)
n = int(input())
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for k in range(i+1):
        print("*",end="")
    print()

5
    *
   **
  ***
 ****
*****

In [6]:
# 雙層迴圈 + 雙層串列
matrix = [[32, 57, 89], [59,20,66], [66,78,82], [32,89,100], [70,100,30]]
row = len(matrix)
col = len(matrix[0])
for i in range(row):
    for j in range(col):
        print(matrix[i][j],end=" ")
    print()

32 57 89
59 20 66
66 78 82
32 89 100
70 100 30

In [7]:
# 雙層迴圈 + 雙層串列 (解答)
matrix = [[32, 57, 89], [59,20,66], [66,78,82], [32,89,100], [70,100,30]]
row = len(matrix)
row_ans = [0 for i in range(row)]
col = len(matrix[0])
col_ans = [0 for j in range(col)]
for i in range(row):
    for j in range(col):
        row_ans[i] += matrix[i][j]
        col_ans[j] += matrix[i][j]
print(f"row 總和: {row_ans}")
print(f"col 總和: {col_ans}")

row 總和: [178, 145, 226, 221, 200]
col 總和: [259, 344, 367]

# **函式**

In [8]:
def show():
    print("Welcome!!")
def say_hello(name):
    print(f"Hello {name}")
def add_numbers(num1, num2):
  print(num1)
  print(num2)
  print(num1 + num2)

In [9]:
show()
say_hello(name = "Thousand")  # say_hello("Thousand")
add_numbers(num2 = 9, num1 = 3) # add_numbers(3, 9)

Welcome!!
Hello Thousand
3
9
12

In [10]:
# 函式生命週期
def show():
    number = 3
    print(f"This is show function: {number}")
show()
print(number) # 由於函式的生命週期結束，在此函式內部產生的變數都會消失

This is show function: 3

NameError: ignored

In [11]:
# 操作全域變數
total = 0
def change_number():
    print(total)  # 可以看到區域變數
    # total += 1 # 不能操作全域變數
change_number()

0

In [12]:
# 全域變數與區域變數同名
total = 3
def change_number():
    total = 5
    total += 3
    print(f"This is change_number function: {total}")
change_number()
print(f"This is main function: {total}")

This is change_number function: 8
This is main function: 3

In [13]:
# call by reference
num = 3
def change_number(num):
    print(id(num))
    num += 2
    print(id(num))
print(f"Before change_number function: {num}")
print(id(num))
change_number(num = num)
print(f"After change_number function: {num}")

Before change_number function: 3
11256128
11256128
11256192
After change_number function: 3

In [14]:
# call by reference (list)
numbers = [3,2,8,10,15,18]
def change_numbers(numbers):
    numbers.append(10)
print(f"Before change_numbers function: {numbers}")
change_numbers(numbers = numbers)
print(f"After change_numbers function: {numbers}")

Before change_numbers function: [3, 2, 8, 10, 15, 18]
After change_numbers function: [3, 2, 8, 10, 15, 18, 10]

In [15]:
# return
def get_mean(numbers):
    total = 0
    for v in numbers:
        total += v
    return total / len(numbers)
numbers = [85, 95, 96]
ans = get_mean(numbers = numbers)
print(ans)

92.0

In [16]:
# import
import random
# import random as r
# from random import randint
sample = random.randint(1,100)
print(sample)

8

In [17]:
# random 函數 (解答)
import random
n = int(input())
for i in range(n):
    print(random.randint(1,100), end=" ")

10
43 84 52 7 12 59 65 85 99 48

In [18]:
# lambda
add = lambda x: x+3
print(add(3))
print((lambda x: x+3)(3))
mul = lambda x,y: x*y
print(mul(3,5))

6
6
15

In [19]:
# filter, map, sorted
numbers = [3, 50, 2, 80, 49, 10, 6]
print(list(filter(lambda x: x > 10, numbers)))
print(list(map(lambda x: x + 3, numbers)))
scores = [["Harry", 32], ["Berry", 31], ["Thousand", 21]]
print(sorted(scores, key = lambda x:x[1]))

[50, 80, 49]
[6, 53, 5, 83, 52, 13, 9]
[['Thousand', 21], ['Berry', 31], ['Harry', 32]]

In [20]:
# 補充
numbers = input().split()
print(list(map(lambda x: int(x), numbers)))

23 52 87 98 96 100
[23, 52, 87, 98, 96, 100]

In [21]:
# 補充 *args
def add(name, gender, *args):
  print(name)
  print(gender)
  print(sum(args))

add("Thousand", "Male", 1,2,3,4,5,6)

Thousand
Male
21

In [22]:
# 補充 **kwargs
def add(name, gender, **kwargs):
  print(name)
  print(gender)
  print(kwargs)

add("Thousand", "Male", math=100, english=98, physics= 97)

Thousand
Male
{'math': 100, 'english': 98, 'physics': 97}

In [23]:
# module & package 必須使用 .py 檔才能 import