<a href="https://colab.research.google.com/github/ThousandAI/pycs4001/blob/main/class07/logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Logistic Regression**

In [1]:
import numpy as np
import pandas as pd

## **讀取資料**

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/ThousandAI/pycs4001/main/class07/advertising.csv")
data.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [3]:
from sklearn.model_selection import train_test_split
X = np.array(data[["Daily Time Spent on Site", "Age", "Area Income", "Daily Internet Usage", "Male"]])
Y = np.array(data["Clicked on Ad"])
train_x, test_x, train_y, test_y  = train_test_split(X, Y, test_size=0.2, random_state=10)

## **標準化數據**

In [4]:
from sklearn.preprocessing import StandardScaler
scaler_x = StandardScaler()
sc_train_x = scaler_x.fit_transform(train_x)

## **搭建模型**

In [5]:
from sklearn.linear_model import LogisticRegression
logistic = LogisticRegression()

## **訓練模型**

In [6]:
logistic.fit(train_x,train_y)

LogisticRegression()

## **評估模型**

In [7]:
from sklearn.metrics import confusion_matrix

In [8]:
sc_test_x = scaler_x.transform(test_x)
y_hat = logistic.predict(sc_test_x)
print(confusion_matrix(test_y, y_hat))

[[83 13]
 [20 84]]