<a href="https://colab.research.google.com/github/ThousandAI/pycs4001/blob/main/class10/Dictonary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
dic = {"Harry":32, "Berry": 31, "Thousand":21, "Becky": 50, "Allie":37}

In [2]:
for x in dic.items():
  print(x)

('Harry', 32)
('Berry', 31)
('Thousand', 21)
('Becky', 50)
('Allie', 37)

In [3]:
sorted_tuple = sorted(dic.items(), key=lambda x: x[1])
print(sorted_tuple)

[('Thousand', 21), ('Berry', 31), ('Harry', 32), ('Allie', 37), ('Becky', 50)]

In [4]:
dic = {key:value for key, value in sorted_tuple}
print(dic)

{'Thousand': 21, 'Berry': 31, 'Harry': 32, 'Allie': 37, 'Becky': 50}

In [5]:
ans = {}
for key, value in sorted_tuple:
  ans[key] = value
print(ans)

{'Thousand': 21, 'Berry': 31, 'Harry': 32, 'Allie': 37, 'Becky': 50}